@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Welcome To Online Examination</h2>

@Html.ActionLink("College Registration", "RegisterCollege", "Admin");
@Html.ActionLink("Exam Registration", "RegisterExamination", "Admin");
