
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuestionOperation</title>
</head>
<body>
    <h2>Question Operations</h2>
    <hr />
    <div> 
        @Html.ActionLink("Create Question", "Create","Questions")<br />
        @Html.ActionLink("Modify Question", "Edit","Questions")<br />
        @Html.ActionLink("Delete Question", "Delete","Questions")<br />
    </div>
</body>
</html>
