@model OnlineTestApp.Models.ResultsReportModel

@{
    ViewBag.Title = "ResultsReport";
}

<h2>Enter ExamCode</h2>

@using (Html.BeginForm())
{
    
   @Html.TextBoxFor(x => x.ExamCode)

    <hr/>
    
    <input type="submit"/>
    
}

